#sidenav {
    width: 20vw;
    height: 100vh;
    float: left;
    padding-top: 20px;
}

#map {
    float: right;
    height: 100vh;
    width: 80vw;
}
.tab-pane {
    padding-top: 10px;
}


label {
    margin-top: 10px;
}